/* General */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --color-dark: #141922;
    --color-darkgrey: #282828;
    --color-light: #ffffff;
    --color-black: #000000;
    --color-lightgrey: #c1c1c1;
    --color-highlight: #9ae22d;
    --color-redcolor: #ca1717;
}
.wrapper {
    height: 100vh;
    width: 100%;
}
.flex {
    display: flex;
}
body{
    background-color: #282828;;
}
li{
    list-style: none;
}
.debug{
    border: 1px solid red;
}
.allinea{
    justify-content: center;
    align-items: center;
}

/* BACKGROUND COLOR */

body {
    background-color: var(--color-darkgrey);
    color: white;
    font-family: "Montserrat", sans-serif;
}
.upper-content {
    background-color: var(--color-dark);
}

/* DIMENSION PAGE LAYOUT*/
.upper-content {
    height: calc(100vh - 100px);
}
footer {
    height: 100px;
}
.contenitore {
    height: calc(100vh - 100px);
}
main {
    position: relative;
    top: 0;
    left: 0;
    width: calc(100vw - 220px);
}
aside {
    width: 220px;
    background-color: var(--color-black);
}
main header {
    height: 75px;
    position: sticky;
    top: 0;
    left: 0;
    background-color: #9ae22d;
   
}
main .contenuto {
    height: calc(100% - 75px);
    overflow-y: scroll;
}


/* SIDEBAR */
aside{
    padding: 15px 0 0 15px;
}
.logo-grande img{
    width: 75%;
}
.lista{
    padding: 10px 5px;
    width: 75%;
}
.lista li{
    font-size: 0.8em;
    vertical-align: middle;
}
.lista li i{
    font-size: 22px;
    padding: 8px 0;
    padding-right: 10px;
    vertical-align: middle;
    
}
.playlist{
    font-size: 16px;
    padding: 8px 10px;
    border-radius: 10px;
    color: #000000;
    background-color: #ffffffa1;
    border: 0;
}
.lista2 span{
    padding-left: 5px;
    font-size: 0.8em;
}
.lista2 li{
    font-size: 0.8em;
padding: 10px 0;
}
.lista2 button{
    margin-bottom: 18px;
}
.lista2 h5{
padding: 10px 0;
}
.user{
    width: 80%;
    
}
.user hr{
    margin: 8px 0;
    }
.user p i{
    padding-right: 5px;
}
.user p {

font-size: 0.8em;
}
.user img{

    vertical-align: middle;
    border-radius: 50px;
    background-color: #c1c1c1;
    width: 15%;
}
.usr span{
    font-weight: bold;
    padding-left: 5px;
    font-size: 0.8em;
    color: rgb(253, 253, 253);
}
.sezioni li{
    padding: 5px 20px;
    font-size: 10px;
}

/* CARD SECTION */
.cards span{
    text-align: center;

}
.cards-container{
    width: 100%;
}
.cards img{
    width: 100%;
    padding: 18px 30px;
}
.cards{
    width: calc( 100% / 6 );
    text-align: center;
}


