/* General */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color-dark: #141922;
    --color-darkgrey:  rgb(13, 16, 23);
    background: linear-gradient(90deg, rgba(13, 16, 23, 1) 0%, rgba(40, 40, 40, 1) 50%, rgba(13, 16, 23, 1) 100%);
    --color-light: #ffffff;
    --color-black: #000000;
    --color-lightgrey: #c1c1c1;
    --color-highlight: #9ae22d;
    --color-redcolor: #ca1717;
}

.wrapper {
    height: 100vh;
    width: 100%;
}

body {
    color: rgb(165, 165, 165);
    font-family: "Montserrat", sans-serif;
}

li {
    list-style: none;
}

/* .debug{
    border: 1px solid red;
} */

img {
    display: block;
    width: 100%;
}

/* AESTETHIC UTILITY */
.bd {
    font-weight: bold;
    color: white;
}

h4 {
    font-weight: bold;
    color: white;
}

.media h2 {
    padding-left: 20px;
}

.navigation a {
    color: white;
    text-decoration: none;
}



/* FLEX UTILITY */
.flex {
    display: flex;
}

.col {
    display: flex;
    flex-direction: column;
}

.align {
    align-items: center;
    text-align: center;

}

.centra {
    justify-content: center;
}

.wrap {
    flex-wrap: wrap;
}

.end {
    justify-content: flex-end;
}

.allinea {
    align-items: center;
    justify-content: center;
}


/* LAYOUT DIMENSION */

.playlist{
    overflow-y: auto;
    max-height: calc(100% - 210px);
}
.end-of-page {
    position: relative;
    z-index: 999;
}

.full-content {
    width: 100%;
    height: 100vh;
}

.main-content {
    width: 100%;
    height: calc(100vh - 100px);
}

.main {
    height: calc(100% - 100px);
}

aside {
    width: 250px;
    height: 100%;
}

.contenuti {
    width: calc(100% - 250px);
    position: relative;
    top: 0;
    left: 0;
}

.header {
    width: 100%;
    height: 100px;
    position: sticky;
    top: 0;
    left: 0px;

}

footer {
    height: 100px;
    width: 100%;
}

.navigation {
    height: 10%;
}

.interface {
    height: 90%;
}

.media {
    width: 100%;
}

.card {
    padding: 20px;
    width: calc(100% / 6);
}

.lista {
    height: calc(100% - 83.5px);
    
}

.logo .visible {
    padding: 15px;
}

/* OVERFLOW */
.contenuti {
    overflow-y: scroll;
}



/* BACKGROUND COLOR */
aside {
    background-color: var(--color-black);
}

.header {
    z-index: 1;
    background-color: #00000065;
    backdrop-filter: blur(3px);
    box-shadow: 0px 6px 10px rgb(7, 0, 0);

}

.contenuti {
    background: rgb(13, 16, 23);
    background: linear-gradient(90deg, rgba(13, 16, 23, 1) 0%, rgba(20, 25, 34, 1) 50%, rgba(13, 16, 23, 1) 100%);
}

footer {
    background-color: var(--color-darkgrey);
}
.footer-container{
    background: rgb(13,16,23);
background: linear-gradient(90deg, rgba(13,16,23,1) 0%, rgba(40,40,40,1) 50%, rgba(13,16,23,1) 100%);
}

/* CONTAINER */
.side-container {
    height: 100%;
}


/* IMMAGINI */
.logo img {
    width: 165px;
}


/* CUSTOMIZE SIDE LIST*/
.home li:hover {
    border-left: 3px solid var(--color-highlight);
}

.lista li {
    margin-top: 15px;
    font-size: 0.8em;
    padding-left: 18px;
}

.lista li i {
    font-size: 25px;
    vertical-align: middle;

}

.button {
    padding: 8px;
    border-radius: 5px;
    border: 0;
    color: white;
    background-color: rgb(165, 165, 165);
    vertical-align: middle;
    margin-right: 10px;
}

.button:hover {
    cursor: pointer;
}

.lista h3 {
    margin-top: 35px;
}

.download {
    border-bottom: 1px solid grey;
}

.user img {
    width: 20px;
    margin: 10px;
}

.user {
    font-size: 0.8em;
    width: 100%;
    position: relative;
    background-color: black;
    z-index: 990;
}

.dimensione {
    width: 80%;
    margin: 0 auto;
}

.home li:hover {
    color: white;
}

.profile img {
    background-color: grey;
    border-radius: 50%;
}

.small {
    display: none;
}

/* CONTENUTI PRINCIPALI */
/* CUSTOMIZE NAV ELEMENTS*/

.navigation a {
    padding-bottom: 5px;
    display: inline-block;
    position: relative;
}

.navigation a::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 50%;
    height: 2px;
    background-color: transparent;
    transition: background-color 0.3s ease;
}

.navigation a:hover::after {
    background-color: var(--color-highlight);
}

nav li {
    padding: 10px;
    font-size: 0.8em;
}

/* INTERFACE */

.media img {
    border-radius: 10px 10px;
    box-shadow: 0px 10px 10px rgb(0, 0, 0);
}

.media h4 {
    padding-bottom: 10px;
}

.brani h4 {
    padding-top: 20px;
}

.section2>sub,
.section3>sub {
    padding-left: 20px;
}

.section2>h2,
.section3>h2 {
    padding-top: 30px;
}

.section3 img {
    border-radius: 50%;
}

/* HEADER */
.header a {
    text-decoration: none;
    border-radius: 50px;
    border: 1px solid white;
    color: white;
    background-color: #00000065;
    padding: 15px 30px;
    height: 50px;
    margin-right: 30px;
}

.header a:hover {
    color: white;
    background-color: var(--color-darkgrey);

}

/* HOME */
.home {
    padding-top: 20px;
}

.home a {
    padding-left: 10px;
}

/* FOOTER */
.footer-container {
    height: 100%;
    width: 100%;
}

.nome-brano {
    width: 250px;
    height: 100%;
    flex-shrink: 0;

}

.nome-brano img {
    width: 40px;
    height: 40px;
    margin: 20px;
}

.nome-brano h4,
p {
    font-size: 0.8em;
}

.nome-brano i {
    padding: 0 2px;
}

.nome-brano {
    flex-shrink: 0;
    align-items: center;
    justify-content: space-between;
}

.nome-brano img {
    box-shadow: 0px 6px 30px rgb(7, 0, 0);
}

.play {
    flex-shrink: 0;
    flex-grow: 1;
}

.volume {
    width: 250px;
    flex-shrink: 0;
}

.volume-content i {
    padding: 0 5px;
}

.play-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.play-bottom input[type="range"] {
    -webkit-appearance: none;
    width: 600px;
    height: 4px;
    background: #ffffff;
    border-radius: 5px;
    outline: none;
}

.play-top i {
    font-size: 25px;
    padding: 0 18px;
    padding-bottom: 10px;
    color: #ffffff;
}

.play-top span i {
    font-size: 40px;
}

.play-bottom p {
    padding: 0 10px;
}

.none {
    display: none;
}

.novisible {
    display: none;
}



/* MODIFICHE RANGE */
input[type="range"] {
    -webkit-appearance: none;
    width: 80px;
    height: 4px;
    background: #ffffff;
    border-radius: 5px;
    outline: none;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 12px;
    height: 12px;
    background-color: var(--color-lightgrey);
    border-radius: 50%;
    cursor: pointer;
}

input[type="range"]::-moz-range-thumb {
    width: 12px;
    height: 12px;
    background-color: #333;
    border-radius: 50%;
    cursor: pointer;
}


/* CARDS EFFECT */

.image-container {
    position: relative;
    display: block;
}

.image-container img {
    display: block;
    width: 100%;
    height: auto;
}

.overlay {
    border-radius: 10px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6);
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity 0.3s ease;
}

.overlay i {
    color: white;
    font-size: 70px;
}

.image-container:hover .overlay {
    opacity: 1;
    cursor: pointer;
    mute: false
}

.section3 .overlay {
    border-radius: 50%;
}


/* NO SECTION */
a {
    color: rgb(165, 165, 165);
    text-decoration: none;
}
li:hover a,
.download a:hover {
    color: white;
}
.sotto {
    background-color: #00000065;
    backdrop-filter: blur(3px);
    display: none;
}
.sotto a{
    color: #ffffff;
}
.sotto ol {
    justify-content: center;
    flex-wrap: wrap;

}

/* MEDIA QUERY */

@media screen and (max-width: 1200px) {

    .card {
        width: calc(100% / 4);
    }

    .play-top i {
        font-size: 15px;
    }

    .play-top span i {
        font-size: 35px;
    }

    .play-bottom input[type="range"] {
        width: 380px;

    }


}

@media screen and (max-width: 986px) {
    .navigation {
        display: none;
    }
    .sotto {
        display: block;
        box-shadow: 0px 6px 10px rgb(7, 0, 0);
    }
    section.media{
        margin-top: 25px;
    }
    a {
        color: rgb(165, 165, 165);
        text-decoration: none;
    }


    

    .card {
        width: calc(100% / 3);
    }

    .play-top i {
        font-size: 18px;
    }

    .play-top span i {
        font-size: 30px;
    }

    .play-bottom input[type="range"] {
        width: 100px;

    }

}

@media screen and (max-width: 768px) {

    .card {
        width: calc(100% / 2);
    }

    .play {
        display: none;
    }

    .nome-brano {
        order: 1;
        flex-grow: 1;
        flex-shrink: 1;
    }

    .icone {
        display: none;
    }

    .brano-ascolto {
        position: relative;
        border-radius: 10px;
        margin: 0 auto;
        width: 95%;
        background-color: var(--color-black);
        box-shadow: 0px 0px 10px rgb(7, 0, 0);
        justify-content: flex-start;
    }

    .novisible {
        display: block;
        position: absolute;
        right: 25px;
        display: block;
        white-space: nowrap;

    }


}

@media screen and (max-width: 576px) {

    .media h2 {
        text-align: center;
    }

    .card {
        width: calc(100% / 1);
    }

    .novisible {
        display: none;

    }

    .logo .visible {
        display: none;
    }

    .small {
        display: block;
        width: 10px;
    }

    .logo img {
        width: 30px;
        margin: 10px;
    }

    .home a {
        padding-left: 10px;
        display: none;
    }

    .playlist {
        display: none;
    }

    aside {
        width: 50px;
        height: 100%;
    }

    .contenuti {
        width: calc(100% - 60px)
    }

    .download span,
    .profile span {
        display: none;
    }

    div.download,
    div.profile {
        border-bottom: 0;
        width: 50px;

    }

    .download img {
        border-bottom: 0;


    }

    .user img {
        width: 40%;
    }

    .brano-ascolto {
        flex-shrink: 1;
    }

    .lista li {

        margin-top: 10px;
        font-size: 0.8em;
        padding-left: 10px;
    }

    .home {
        padding-top: 5px;
    }

    .lista {
        height: calc(100% - 95px);
    }

    .contenuti {
        width: calc(100% - 50px);
    }

}

@media screen and (max-width: 448px) {
    .volume {
        display: none;
    }

    .novisible {
        display: block;

    }
}






